$color-primary: #c69963;
$color-primary-light: #828451;
$color-primary-dark: #525335;

//BP FOR FONT 

$bp-largestE: 82.2em; // 1300px//

$bp-largeE: 40.6em; // 620px//
$bp-mediumE: 35em; // 560px//
$bp-smallE: 26.12em; // 418px//
$bp-smallerE: 23.12em; // 418px//






$bp-largestF: 43.75em; // 930px//
$bp-largeF: 30.6em; // 930px//
$bp-mediumF: 25em; // 930px//
$bp-smallF: 24.4em; // 388px//
$bp-smallestF: 20.6em; // 388px//
$bp-smallestR: 26.25em; // 420px//
$bp-exsmallestR: 29.3em; // 464px//
$bp-exsmallest2R: 20.25em; // 464px//













//BP FOR RESIZING

$bp-exlargest: 75.12em; // 930px//

$bp-largest: 58.12em; // 930px//
$bp-large: 56.25em; // 920px//
$bp-medium: 45.6em; // 730px//
$bp-small1: 36.62em; // 730px//

$bp-small: 37.5em; // 730px//
$bp-smallest: 33.7em; // 730px//
$bp-exsmallest: 29.3em; // 464px//










*,
*::before,
*::after {
    margin: 0;
    padding: 0;
    box-sizing: inherit;
}

html {
box-sizing: border-box;
font-size: 62.5%;



@media only screen and  (max-width: $bp-largeF) {
    font-size: 55%;
}

@media only screen and  (max-width: $bp-mediumF) {
    font-size: 50%;
}
@media only screen and  (max-width: $bp-smallestR) {
    font-size: 48%;
}
@media only screen and  (max-width: $bp-exsmallestR) {
    font-size: 45%;
}
@media only screen and  (max-width: $bp-largestE) {
    font-size: 55%;
}

@media only screen and  (max-width: $bp-largeE) {
    font-size: 50%;
}

@media only screen and  (max-width: $bp-mediumE) {
    font-size: 45%;
}
@media only screen and  (max-width: $bp-smallE) {
    font-size: 40%;
}
@media only screen and  (max-width: $bp-smallerE) {
    font-size: 35%;
}





}

body {
    line-height: 1.6;
    font-weight: 300;
    font-family: 'IBM Plex Sans', sans-serif;
}


.container {
    background-color: #d5d5cd;
    p{ color: rgb(94, 91, 91)}



 
}

.content {
    width: 45vw;
    min-height: 140rem;

    margin: 0 auto;
    background-color: #fff;
    border-radius: 5px;
    display: grid;
    grid-template-columns: repeat(3, minmax(10vw, 1fr));
    grid-template-rows: repeat(3, min-content);
    padding: 1.2rem;

    @media only screen and  (max-width: $bp-exlargest) {
        width: 55vw;
        height: 100rem;

    }
    @media only screen and  (max-width: $bp-largest) {
        width: 60vw;
        height: 95rem;

    }

    @media only screen and  (max-width: $bp-large) {
        width: 70vw;
        height: 95rem;

    }
    @media only screen and  (max-width: $bp-medium) {
        width: 80vw;
        height: 95rem;

    }
    @media only screen and  (max-width: $bp-small1) {
        width: 85vw;
    }


    @media only screen and  (max-width: $bp-smallest) {
        width: 90vw;

    }

    @media only screen and  (max-width: $bp-exsmallest) {
        width: 100vw;
        height: 95rem;

    }

    @media only screen and  (max-width: $bp-exsmallestR) {
        min-height: 160rem;
    }


    
}